.start {
    display: block;
    border-style: none;
    background-color: rgb(241, 241, 241);
    height: 10vh;
    width: 40vh;
    margin: auto;
    border-radius: 4px;
    font-size: 18px;
}

h1{
    margin: auto;
    width: 50%;
    text-align: center;
}

h2 {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.gameInfo {
    margin: auto;
    list-style: none;
    width: 50%;
    text-align: center;
    font-size: 50px;
}

button {
    font-family: "Times New Roman", Times, serif;
}

#rock {
    width: 20%;
    height: 10vh;
    width: auto;
}

#paper {
    width: 20%;
    height: 10vh;
    width: auto;
}

#scissors{
    width: 20%;
    height: 10vh;
    width: auto;
}

input:hover{
    border: solid;
    border-radius:8px;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.messages{
    text-align: center;
    margin: 20vh;
}
